.u-section-1 .u-sheet-1 {
  min-height: 677px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 100%;
  margin: 100px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 512px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-shape-1 {
  width: 151px;
  height: 49px;
  margin: 8px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -39px auto 0 26px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 28px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 29px auto 0 8px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 22px auto 0 26px;
  padding: 10px 23px 10px 21px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-weight: normal;
  margin: -47px auto 0 197px;
  padding: 10px 24px 10px 22px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 523px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-shape-2 {
  height: 334px;
  width: 334px;
  background-image: none;
  margin: 31px -76px 0 auto;
}

.u-section-1 .u-shape-3 {
  height: 352px;
  width: 352px;
  background-image: none;
  margin: -288px auto 0 -21px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 512px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 19px;
}

.u-section-1 .u-social-icons-1 {
  height: 20px;
  min-height: 16px;
  width: 20px;
  min-width: 16px;
  margin: 232px 14px 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 32px;
}

.u-section-1 .u-social-icons-2 {
  height: 20px;
  min-height: 16px;
  width: 20px;
  min-width: 16px;
  margin: 22px 14px 0 auto;
}

.u-section-1 .u-icon-2 {
  height: 20px;
}

.u-section-1 .u-social-icons-3 {
  height: 20px;
  min-height: 16px;
  width: 20px;
  min-width: 16px;
  margin: 21px 14px 0 auto;
}

.u-section-1 .u-icon-3 {
  height: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 443px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-shape-2 {
    height: 252px;
    width: 252px;
    margin-top: 83px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-shape-3 {
    height: 233px;
    width: 233px;
    margin-top: -175px;
    margin-bottom: -5px;
    margin-left: -45px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 443px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 30px;
    height: 30px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: 18px;
  }

  .u-section-1 .u-social-icons-2 {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 18px;
  }

  .u-section-1 .u-social-icons-3 {
    width: 30px;
    height: 30px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 2992px;
  }

  .u-section-1 .u-shape-2 {
    height: auto;
    margin-top: 103px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-3 {
    height: 175px;
    width: 175px;
    margin-top: -149px;
    margin-left: -37px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 468px;
  }

  .u-section-1 .u-social-icons-1 {
    height: -9px;
    width: -9px;
    margin-top: 182px;
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-social-icons-2 {
    height: -9px;
    width: -9px;
    margin-left: 16px;
  }

  .u-section-1 .u-social-icons-3 {
    height: -9px;
    width: -9px;
    margin-top: 31px;
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3604px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    width: 80px;
    height: 26px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -16px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 80px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 8415px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -634px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 2633px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3465px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 5298px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -713px;
    margin-right: 6px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 1658px;
  }
} .u-section-2 {
  min-height: 164px;
}

.u-section-2 .u-image-1 {
  width: 77px;
  height: 164px;
  margin: 0 0 0 auto;
}.u-section-3 .u-sheet-1 {
  min-height: 220px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 51px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: -9px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-line-1 {
  position: absolute;
  top: 55px;
  left: auto;
  height: 90px;
  transform-origin: center top 0px;
  right: 16px;
  transform: rotate(360deg);
}

.u-section-3 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  margin: -9px 10px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 8px 30px 30px;
}

.u-section-3 .u-line-2 {
  position: absolute;
  top: 55px;
  left: 11px;
  height: 90px;
  transform-origin: center top 0px;
  transform: rotate(360deg);
}

.u-section-3 .u-layout-cell-5 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.875rem;
  margin: -9px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-top: 1px;
    margin-bottom: 1px;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 126px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4804px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 6435px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-right: -122px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 4815px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3216px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 4052px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 3032px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 482px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 481px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  width: 143px;
  height: 49px;
  margin: 48px auto 0 9px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -39px auto 0 31px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 37px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 34px auto 0 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0 14px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 481px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-icon-1 {
  width: 35px;
  height: 35px;
  margin: 55px auto 0 34px;
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: 29px auto 0 34px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -49px auto 0 35px;
}

.u-section-4 .u-icon-2 {
  width: 38px;
  height: 38px;
  margin: 121px auto 0 35px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 34px;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  margin: -1px auto 0 35px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 481px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 19px;
}

.u-section-4 .u-icon-3 {
  width: 39px;
  height: 39px;
  margin: 159px auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1px 0 0;
}

.u-section-4 .u-text-9 {
  font-weight: 400;
  margin: -1px auto 0 1px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 397px;
  }

  .u-section-4 .u-icon-2 {
    width: 27px;
    height: 27px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 397px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3604px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 128px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 128px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 131px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 131px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 128px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 131px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3465px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 167px;
}

.u-section-5 .u-image-1 {
  width: 80px;
  height: 162px;
  margin: 4px auto 1px -163px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    margin-left: 570px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 771px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 1px auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 572px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-6 .u-shape-1 {
  width: 142px;
  height: 49px;
  margin: 70px auto 0 4px;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 91px;
  margin: -39px auto 0 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 63px auto 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 38px 16px 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  text-transform: none;
  margin: 30px auto 0 16px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 694px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 297px;
  height: 503px;
  margin: 48px auto 0 0;
}

.u-section-6 .u-image-2 {
  width: 282px;
  height: 383px;
  margin: -503px 20px 0 auto;
}

.u-section-6 .u-shape-2 {
  width: 21px;
  height: 21px;
  margin: 48px 192px 0 auto;
}

.u-section-6 .u-shape-3 {
  width: 21px;
  height: 21px;
  margin: -21px 150px 0 auto;
}

.u-section-6 .u-group-1 {
  width: 38px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  height: 38px;
  min-height: 38px;
  margin: -29px 221px 0 auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 7px;
}

.u-section-6 .u-shape-4 {
  width: 21px;
  height: 21px;
  margin: 0;
}

.u-section-6 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: -40px 0 0 auto;
  padding: 0;
}

.u-section-6 .u-icon-2 {
  width: 40px;
  height: 40px;
  margin: -40px 56px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 124px;
  height: 394px;
  margin: -645px -113px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 14px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 572px;
  }

  .u-section-6 .u-image-2 {
    width: 225px;
    height: 356px;
    margin-right: -36px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: 24px;
    margin-right: 75px;
  }

  .u-section-6 .u-shape-3 {
    margin-right: 33px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -30px;
    margin-right: 108px;
    height: auto;
  }

  .u-section-6 .u-shape-4 {
    margin-left: auto;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 19px;
    margin-right: 38px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 438px;
  }

  .u-section-6 .u-image-2 {
    height: 357px;
  }

  .u-section-6 .u-shape-4 {
    margin-right: 234px;
    margin-left: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 616px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 388px;
  }
} .u-section-7 {
  min-height: 164px;
}

.u-section-7 .u-image-1 {
  width: 77px;
  height: 164px;
  margin: 0 0 0 auto;
}.u-section-8 .u-sheet-1 {
  min-height: 259px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 258px;
}

.u-section-8 .u-container-layout-1 {
  padding: 15px 30px;
}

.u-section-8 .u-shape-1 {
  width: 142px;
  height: 49px;
  margin: 0 938px 0 0;
}

.u-section-8 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -40px auto 0 26px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 52px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 1px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-8 .u-shape-1 {
    margin-right: 738px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-shape-1 {
    margin-right: 518px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 3604px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-shape-1 {
    margin-right: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 3465px;
  }

  .u-section-8 .u-shape-1 {
    margin-right: 178px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 448px;
}

.u-section-9 .u-list-1 {
  width: 1296px;
  min-height: 294px;
  margin: 0 -156px 60px auto;
}

.u-section-9 .u-repeater-1 {
  min-height: 294px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-icon-1 {
  width: 110px;
  height: 110px;
  margin: -7px auto 0 30px;
  padding: 0;
}

.u-section-9 .u-text-1 {
  font-size: 0.875rem;
  margin: -31px 30px 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 19px 53px 0 90px;
}

.u-section-9 .u-image-1 {
  width: 46px;
  height: 46px;
  margin: -28px auto 0 30px;
}

.u-section-9 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -22px 53px 0 90px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-icon-2 {
  width: 110px;
  height: 110px;
  margin: -7px auto 0 30px;
  padding: 0;
}

.u-section-9 .u-text-4 {
  font-size: 0.875rem;
  margin: -31px 30px 0;
}

.u-section-9 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 19px 53px 0 90px;
}

.u-section-9 .u-image-2 {
  width: 46px;
  height: 46px;
  margin: -28px auto 0 30px;
}

.u-section-9 .u-text-6 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -22px 53px 0 90px;
}

.u-section-9 .u-container-layout-3 {
  padding: 0;
}

.u-section-9 .u-icon-3 {
  width: 110px;
  height: 110px;
  margin: -7px auto 0 30px;
  padding: 0;
}

.u-section-9 .u-text-7 {
  font-size: 0.875rem;
  margin: -31px 30px 0;
}

.u-section-9 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 19px 53px 0 90px;
}

.u-section-9 .u-image-3 {
  width: 46px;
  height: 46px;
  margin: -28px auto 0 30px;
}

.u-section-9 .u-text-9 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -22px 53px 0 90px;
}

.u-section-9 .u-gallery-nav-1 {
  position: absolute;
  left: auto;
  width: 64px;
  height: 64px;
  top: -13px;
  background-image: none;
  right: 257px;
  padding: 18px;
}

.u-section-9 .u-gallery-nav-2 {
  position: absolute;
  width: 64px;
  height: 64px;
  left: auto;
  top: -13px;
  background-image: none;
  right: 206px;
  padding: 18px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-right: -85px;
    margin-left: 85px;
  }

  .u-section-9 .u-image-1 {
    margin-top: -31px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-right: -85px;
    margin-left: 85px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 0;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-top: 22px;
    margin-right: -85px;
    margin-left: 85px;
  }

  .u-section-9 .u-image-2 {
    margin-top: -31px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-right: -85px;
    margin-left: 85px;
  }

  .u-section-9 .u-text-7 {
    margin-right: 0;
  }

  .u-section-9 .u-text-8 {
    width: auto;
    margin-top: 22px;
    margin-right: -85px;
    margin-left: 85px;
  }

  .u-section-9 .u-image-3 {
    margin-top: -31px;
  }

  .u-section-9 .u-text-9 {
    width: auto;
    margin-right: -85px;
    margin-left: 85px;
  }

  .u-section-9 .u-gallery-nav-1 {
    top: -9px;
    right: 66px;
  }

  .u-section-9 .u-gallery-nav-2 {
    top: -9px;
    right: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-list-1 {
    width: 720px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-4 {
    margin-right: 15px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-9 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-9 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-list-1 {
    width: 540px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-9 .u-image-1 {
    margin-top: -31px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-9 .u-icon-2 {
    margin-left: 20px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 10px;
    margin-left: 20px;
  }

  .u-section-9 .u-image-2 {
    margin-top: -31px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-9 .u-image-3 {
    margin-top: -31px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-list-1 {
    width: 340px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-9 .u-icon-2 {
    margin-left: 30px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 30px;
    margin-right: 15px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-right: 30px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 167px;
}

.u-section-10 .u-image-1 {
  width: 80px;
  height: 162px;
  margin: 4px auto 1px -163px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-image-1 {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-image-1 {
    margin-left: 570px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 189px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 188px;
}

.u-section-11 .u-container-layout-1 {
  padding: 15px 30px;
}

.u-section-11 .u-shape-1 {
  width: 142px;
  height: 49px;
  margin: 5px auto 0;
}

.u-section-11 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -40px auto 0 495px;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 8px auto 0;
}

.u-section-11 .u-text-3 {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 206px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-11 .u-text-2 {
    margin-top: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 3604px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 3465px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 145px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 650px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
  position: relative;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 497px;
}

.u-section-12 .u-container-layout-1 {
  padding: 22px 14px;
}

.u-section-12 .u-group-1 {
  width: 338px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  min-height: 86px;
  height: auto;
  margin: 24px 8px 0 auto;
}

.u-section-12 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-12 .u-icon-1 {
  width: 52px;
  background-image: none;
  height: 52px;
  margin: 17px auto 0 18px;
  padding: 10px;
}

.u-section-12 .u-text-1 {
  font-weight: 400;
  margin: -52px 18px 0 79px;
}

.u-section-12 .u-text-2 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 0 18px 0 78px;
}

.u-section-12 .u-group-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  min-height: 86px;
  height: auto;
  width: 338px;
  margin: 44px 8px 0 auto;
}

.u-section-12 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-12 .u-icon-2 {
  width: 52px;
  background-image: none;
  height: 52px;
  margin: 17px auto 0 18px;
  padding: 10px;
}

.u-section-12 .u-text-3 {
  font-weight: 400;
  margin: -52px 19px 0 78px;
}

.u-section-12 .u-text-4 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 0 18px 0 78px;
}

.u-section-12 .u-group-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  min-height: 86px;
  height: auto;
  width: 338px;
  margin: 44px 9px 0 auto;
}

.u-section-12 .u-container-layout-4 {
  padding-left: 18px;
  padding-right: 18px;
}

.u-section-12 .u-icon-3 {
  width: 52px;
  background-image: none;
  height: 52px;
  margin: 17px auto 0 0;
  padding: 10px;
}

.u-section-12 .u-text-5 {
  font-weight: 400;
  margin: -52px 0 0 61px;
}

.u-section-12 .u-text-6 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 0 0 0 60px;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 497px;
}

.u-section-12 .u-container-layout-5 {
  padding: 14px 0;
}

.u-section-12 .u-form-1 {
  height: 437px;
  background-image: none;
  width: 637px;
  margin: 24px auto 0;
}

.u-section-12 .u-form-group-3 {
  margin-left: 0;
}

.u-section-12 .u-form-group-4 {
  margin-left: 0;
}

.u-section-12 .u-btn-1 {
  background-image: none;
}

.u-section-12 .u-line-1 {
  margin-top: 69px;
  margin-bottom: 23px;
  transform-origin: right center 0px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-top: 10px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-12 .u-group-1 {
    width: 301px;
    margin-right: 0;
    height: auto;
  }

  .u-section-12 .u-text-2 {
    font-weight: 700;
  }

  .u-section-12 .u-group-2 {
    width: 301px;
    margin-right: 0;
    height: auto;
  }

  .u-section-12 .u-text-3 {
    width: auto;
    margin-right: -19px;
    margin-left: 79px;
  }

  .u-section-12 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-right: -19px;
  }

  .u-section-12 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-12 .u-icon-3 {
    margin-left: 18px;
  }

  .u-section-12 .u-text-5 {
    width: auto;
    margin-right: 18px;
    margin-left: 79px;
  }

  .u-section-12 .u-text-6 {
    width: auto;
    margin-top: -1px;
    margin-right: -16px;
    margin-left: 79px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-12 .u-form-1 {
    width: 611px;
  }

  .u-section-12 .u-line-1 {
    margin-top: 44px;
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-group-1 {
    width: 224px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 19px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-12 .u-group-2 {
    width: 224px;
  }

  .u-section-12 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-12 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-12 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-12 .u-text-6 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-form-1 {
    width: 468px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-text-1 {
    margin-top: -52px;
  }

  .u-section-12 .u-text-3 {
    margin-top: -52px;
  }

  .u-section-12 .u-text-5 {
    margin-top: -52px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-5 {
    margin-left: 0;
  }

  .u-section-12 .u-text-6 {
    margin-left: 0;
  }

  .u-section-12 .u-form-1 {
    width: 340px;
  }
}